Repository kyma-project/busola, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @Sawthis

CODEOWNERS:

# Default owners of the repository
* @akucharska @dariadomagala @parostatkiem @valentinvieriu @Wawrzyn321

# Owners of all .md files in the repository
*.md @mmitoraj @klaudiagrz @alexandra-simeonova @majakurcius @NHingerl

core/src/i18n/ @mmitoraj @klaudiagrz @alexandra-simeonova @majakurcius @NHingerl

tests/ @akucharska @dariadomagala @parostatkiem @valentinvieriu @Wawrzyn321 @Sawthis

Upgrade deployment image
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix the category, change the order
  core/src/luigi-config/navigation/static-navigation-model.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix tests
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/test/AccessStrategyForm.test.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Add Daemon Sets views (#323)
  core-ui/src/components/Predefined/Details/DaemonSet.details.js
  core-ui/src/components/Predefined/Details/Job/Job.details.js
  core-ui/src/components/Predefined/Details/ResourcePods.js
  core-ui/src/components/Predefined/Details/index.js
  core-ui/src/components/Predefined/List/DaemonSets.list.js
  core-ui/src/components/Predefined/List/Pod/Pods.list.js
  core-ui/src/components/Predefined/List/index.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  tests/support/views/api-rules-view.js
  tests/tests/create-configuration-resources.spec.js
  tests/tests/smoke-tests.spec.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @Sawthis

Remove duplicated labels key
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Add translations
  core-ui/src/components/Preferences/LanguageSettings.js
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/navigation-data-init.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Restore LanguageSettings.js
  core-ui/src/components/Preferences/LanguageSettings.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Use less confusing naming
  core/src/i18n/en.yaml
  core/src/luigi-config/navigation/navigation-data-init.js
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Reorder entries
  core/src/i18n/en.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Add PL translations
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Fix e2e tests
  core/src/luigi-config/navigation/navigation-data-init.js
  tests/tests/download-a-kubeconfig.spec.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Fix UI test
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  tests/support/views/api-rules-view.js
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Properly working lists
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/InjectedVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/newVariableModel.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
  core-ui/src/components/Lambdas/hooks/useGetBindingsCombined.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Validation on create and edit
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/CreateVariable/CreateVariable.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/EditVariable/EditVariable.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/LambdaVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/VariableForm/VariableModal.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Bump image
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

add pl translation
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Update en.yaml
  core/src/i18n/en.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Fix tests
  core-ui/src/components/Lambdas/helpers/testing/mockData.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

capitalize titles
  core/src/i18n/en.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Move preferences view to modal (#333)
  core-ui/src/components/Preferences/Preferences.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  core/src/luigi-config/communication.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  resources/web/deployment.yaml
  shared/contexts/ThemeContext.js
  tests/tests/download-a-kubeconfig.spec.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @Sawthis
