Repository kyma-project/busola, changes with the owners that CODEOWNERS names for each.
All owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @Sawthis

Adjust for features
  core/src/luigi-config/cluster-management.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix tests
  core/src/luigi-config/cluster-management.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Add tooltip translations to Drawer buttons
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/contexts/YamlEditorContext/EditorActions.js
  shared/contexts/YamlEditorContext/YamlContent.js
  shared/contexts/YamlEditorContext/YamlEditorContext.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Upgrade deployment image
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Add status to daemon set details
  core-ui/src/components/Predefined/Details/DaemonSet.details.js
  core-ui/src/components/Predefined/List/DaemonSets.list.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix translations for menu categories
  core/src/luigi-config/navigation/static-navigation-model.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Upgrade deployment image
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix translations for menu categories (#328)
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Reorder Workloads menu
  core/src/luigi-config/navigation/static-navigation-model.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Upgrade deployment image
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix order
  core/src/luigi-config/navigation/static-navigation-model.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Reorder Workloads menu (#329)
  core/src/luigi-config/navigation/static-navigation-model.js
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix useGet refresh
  shared/hooks/BackendAPI/useGet.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Bump
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix create CM styles
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Tooltips translations for Drawer buttons (#327)
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  resources/web/deployment.yaml
  shared/components/CopiableText/CopiableText.js
  shared/components/ResourceDetails/ResourceDetails.js
  shared/components/ResourcesList/ResourcesList.js
  shared/contexts/YamlEditorContext/EditorActions.js
  shared/contexts/YamlEditorContext/YamlContent.js
  shared/contexts/YamlEditorContext/YamlEditorContext.js
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Sort yamls
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Apply i18n review changes
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Move language to settings in i18n files
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Apply i18n review changes pt2
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Adjust tests
  core/src/luigi-config/navigation/static-navigation-model.js
  tests/support/views/api-rules-view.js
  tests/tests/create-configuration-resources.spec.js
  tests/tests/login-enkode.spec.js
  tests/tests/smoke-tests.spec.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Adjust tests pt2
  tests/tests/create-configuration-resources.spec.js
  tests/tests/smoke-tests.spec.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Fix logs
  shared/hooks/BackendAPI/useGet.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Bump
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix lists refresh & CM create styles (#330)
  resources/web/deployment.yaml
  shared/components/KeyValueForm/KeyValueForm.js
  shared/components/KeyValueForm/KeyValueForm.scss
  shared/hooks/BackendAPI/useGet.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

API Rules translations
  core-ui/src/components/ApiRules/ApiRuleForm/AccessStrategyForm/AccessStrategyForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleFormHeader/ApiRuleFormHeader.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Handle params from target cluster (#324)
  core/src/luigi-config/busola-cluster-params.js
  core/src/luigi-config/cluster-management.js
  core/src/luigi-config/kubeconfig-id.js
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
  core/src/luigi-config/utils/target-cluster-config.js
  package.json
  resources/backend/deployment.yaml
  resources/web/deployment.yaml
  shared/contexts/ThemeContext.js
  tests/cypress.json
  tests/tests/cluster-configuration.spec.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Partially working
  core-ui/src/components/Lambdas/LambdaDetails/LambdaDetails.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/CodeTab.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Code/LambdaVariables/InjectedVariables.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindings.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ServiceBindings/ServiceBindingsWrapper.js
  core-ui/src/components/Lambdas/constants.js
  core-ui/src/components/Lambdas/helpers/lambdaVariables/serializeVariables.js
  core-ui/src/components/Lambdas/hooks/useGetBindingsCombined.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

enable luigi backdrop and add info
  core/src/i18n/en.yaml
  shared/components/ResourcesList/ResourcesList.js
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

bump image version
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix logs (#331)
  resources/web/deployment.yaml
  shared/hooks/BackendAPI/useGet.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Move prefs to modal
  core/src/luigi-config/navigation/navigation-data-init.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Bump
  resources/web/deployment.yaml
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Fix i18n 't is not defined' issue
  core/src/luigi-config/navigation/static-navigation-model.js
  tests/cypress.json
  tests/support/commands.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Revert some unnecessary changes
  tests/cypress.json
  tests/support/commands.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Fix theme changing
  core-ui/src/components/Preferences/Preferences.js
  core/src/luigi-config/communication.js
  shared/contexts/ThemeContext.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Review changes
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  tests/tests/create-configuration-resources.spec.js
  tests/tests/login-enkode.spec.js
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @Sawthis

Fix i18n
  core/src/luigi-config/luigi-config.js
  core/src/luigi-config/navigation/navigation-data-init.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321

Capitalize Addons in core/src/i18n/en.yaml
  core/src/i18n/en.yaml
Owners: @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl

Translate more API Rules strings
  core-ui/src/components/ApiRules/AccessStrategies/test/AccessStrategies.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/ApiRuleForm.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/ServicesDropdown.js
  core-ui/src/components/ApiRules/ApiRuleForm/ServicesDropdown/test/ServicesDropdown.test.js
  core-ui/src/components/ApiRules/ApiRuleForm/test/ApiRuleForm.test.js
  core-ui/src/components/ApiRules/ApiRulesList/test/ApiRulesListWrapper.test.js
  core-ui/src/components/ApiRules/CreateApiRule/test/CreateApiRule.test.js
  core-ui/src/components/ApiRules/EditApiRule/test/EditApiRule.test.js
  core-ui/src/components/Lambdas/LambdaDetails/Tabs/Configuration/ApiRules/test/ApiRules.test.js
  core-ui/src/components/Predefined/List/ApiRules.list.js
  core/src/i18n/en.yaml
  core/src/i18n/pl.yaml
  shared/components/K8sNameInput/K8sNameInput.js
  shared/components/ResourcesList/ResourcesList.js
  tests/support/views/api-rules-view.js
Owners: @akucharska, @dariadomagala, @parostatkiem, @valentinvieriu, @Wawrzyn321, @mmitoraj, @klaudiagrz, @alexandra-simeonova, @majakurcius, @NHingerl, @Sawthis

CODEOWNERS:

# Default owners of the repository
* @akucharska @dariadomagala @parostatkiem @valentinvieriu @Wawrzyn321

# Owners of all .md files in the repository
*.md @mmitoraj @klaudiagrz @alexandra-simeonova @majakurcius @NHingerl

core/src/i18n/ @mmitoraj @klaudiagrz @alexandra-simeonova @majakurcius @NHingerl

tests/ @akucharska @dariadomagala @parostatkiem @valentinvieriu @Wawrzyn321 @Sawthis
